/* styling of the different ajax loaded contents */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~ styling of the students forms ~~~~~~~~~~~~~~~~~~~~~~~~~ */

#wrapper .main form.mount_session {
           position: relative;
           display: block;
           height: 350px;
           margin-left: 17.5%;
           border: 2px solid yellow;
}


#wrapper .main form .first_step {
           position:relative;
           height: auto;
           margin-left:17.5%;
           margin-bottom: 200px;
           overflow-y:;
           z-index: ; /* is the highest when the first step is the focus */
           background:;
           visibility: ;
           border:;
 }

#wrapper .main form .second_step {
           position: relative;
           height: auto;
           overflow-y:;
           z-index: ; /* is the highest when the first step is the focus */
           background: ;
           border: 1px solid navy;
 }

#wrapper .main form input[type="text"]{
           position: relative;
           display: block;
           font-family: 'fira_sansbook', sans-serif;
           background:;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~ styling of the exam centre forms ~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* ==============================   FONTS  ======================= */

@font-face {
    font-family: 'fira_sansbook';
    src: url('firasans-book-webfont.eot');
    src: url('firasans-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('firasans-book-webfont.woff2') format('woff2'),
         url('firasans-book-webfont.woff') format('woff'),
         url('firasans-book-webfont.ttf') format('truetype'),
         url('firasans-book-webfont.svg#fira_sansbook') format('svg');
    font-weight: normal;
    font-style: normal;

}
