/* styling of the different ajax loaded contents */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~ styling of the students forms ~~~~~~~~~~~~~~~~~~~~~~~~~ */

#wrapper .main .studentBooking {
           position:;
           height: 400px;
           margin-left:24.5%;
           overflow-y: scroll;
           border: 1px solid red;
 }

#wrapper .main form a {
           text-decoration: none;
           outline: 0;
}

#wrapper .main form input[type="text"]{
           position: relative;
           display: block;
           background:;
}

#wrapper .main form .button_InNB{
           position: relative;
           border: 0;
           height: 35px;
           font-family: 'fira_sansbook', sans-serif;
           font-size:;
           padding: 3.5px 14px 3.5px 24.5px;
           float: left;
           border-radius: 1;

}

#wrapper .main form .button_OutNB{
           position: relative;
           border:;
           height: 35px;
           font-family: 'fira_sansbook', sans-serif;
           font-size:;
           padding: 3.5px 14px 3.5px 24.5px;
}

/* Student wants new supervisor */

#wrapper .main form .yesNewSupervisor {
           position: ;
           height: auto;
           visibility:hidden;
           z-index: 100;
           border: ;
}

#wrapper .main form .chooseOption_Sup a {
          display: block;
          width: auto;
          height: auto;
          border: 1px solid red;
}

#wrapper .main form .chooseOption_Sup a p {
         position: relative;
         height: 35px;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~ styling of the exam centre forms ~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* ==============================   FONTS  ======================= */

@font-face {
    font-family: 'fira_sansbook';
    src: url('firasans-book-webfont.eot');
    src: url('firasans-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('firasans-book-webfont.woff2') format('woff2'),
         url('firasans-book-webfont.woff') format('woff'),
         url('firasans-book-webfont.ttf') format('truetype'),
         url('firasans-book-webfont.svg#fira_sansbook') format('svg');
    font-weight: normal;
    font-style: normal;

}
