/* students.css */
html {
  box-sizing: border-box;
  width: 100%;
}

a {
    text-decoration: none;
}

body { margin:0;
       height: 100%;
       overflow:;
}

/* = = = = = = = = = = = = = = = = = = = = Styling the header = = = = = = = = = = = = = = = = = = = = = = = = = =  */

#wrapper header.blue_bar {
                position: relative;
                width: 100%;
                height: 49px;
                overflow: hidden;
                background: url('../images/bg_header.png') repeat-x;
}

#wrapper .blue_bar a {
                text-decoration: none;
                outline: 0;
                color: #FFF;
                    }

#wrapper .blue_bar .logo,
         .current_section,
         .documentation,
         .user_name {
                position: relative;
                width: auto;
                height: auto;
}

/* styling the position of the divs containing the p tags for the blue bar */

#wrapper .blue_bar .logo {
                padding:;
                border:;
}

#wrapper .blue_bar .current_section {
                border:;
}

#wrapper .blue_bar .documentation {
                margin-left: 158px;
                border: ;
}

#wrapper .blue_bar .user_name {
                margin-left:18px;
                border-left: 1px dotted #fff;
                border-right: 1px dotted #fff;
}

/* styling the typography for the p tags inside the blue bar */

#wrapper .blue_bar .logo p {
                position: relative;
                font-family:'fira_sansbook', sans-serif;
                font-size: 1.125em /* 18px/16 */;
                color: #ffffff;
                margin-top: .5625em /* 9px/18 */;
                padding:;
                border: ;
}

#wrapper .blue_bar .current_section p {
                position: relative;
                font-family:'fira_sansbook', sans-serif;
                font-size: 0.9375em /*15px/16*/;
                color: #ffffff;
                margin-top: .75em /* 12px/16 */;
                padding: ;
                border: ;
}



#wrapper .blue_bar .documentation p {
                position: relative;
                font-family:'fira_sansbook', sans-serif;
                font-size: 1.125em /* 18px/16 */;
                color: #ffffff;
                margin-top: .5625em /* 9px/16 */;
                padding: ;
                border:;
}



#wrapper .blue_bar .user_name p {
                position: relative;
                font-family:'fira_sansbook', sans-serif;
                font-size: 1.125em /* 18px/16 */;
                color: #ffffff;
                text-align: center;
                margin-top: .5625em /* top:9px/16 */;
                padding:;
                border: ;
}

/* = = = = = = = = = = = = = = = = = = = = Styling the main = = = = = = = = = = = = = = = = = = = = = = = = = =  */

#wrapper .main {
                position: relative;
                height: 588px;
                max-height:;
                border: ;
}

/* = = = = = = = = = = = = = = = = = = = = Styling the footer = = = = = = = = = = = = = = = = = = = = = = = = = =  */

#wrapper footer {
                position: relative;
                width: 100%;
                height: 21px;
                overflow: hidden;
                background-color: #3F75A4;
}

#wrapper footer .logo {
                padding:;
                border:;
}




#wrapper footer .copyright {
                margin-left:18px;
                border-left: 1px dotted #fff;
                border-right: 1px dotted #fff;
}

/* styling the typography for the p tags inside the blue bar */

#wrapper footer .logo p {
                position: relative;
                font-family:'fira_sansbook', sans-serif;
                font-size: 1.125em /* 18px/16 */;
                color: #ffffff;
                margin-top: .5625em /* 9px/18 */;
                padding:;
                border: ;
}


#wrapper footer .user_name p {
                position: relative;
                font-family:'fira_sansbook', sans-serif;
                font-size: 1.125em /* 18px/16 */;
                color: #ffffff;
                text-align: center;
                margin-top: .5625em /* top:9px/16 */;
                padding:;
                border: ;
}


/* ==============================   FONTS  ======================= */

@font-face {
    font-family: 'fira_sansbook';
    src: url('firasans-book-webfont.eot');
    src: url('firasans-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('firasans-book-webfont.woff2') format('woff2'),
         url('firasans-book-webfont.woff') format('woff'),
         url('firasans-book-webfont.ttf') format('truetype'),
         url('firasans-book-webfont.svg#fira_sansbook') format('svg');
    font-weight: normal;
    font-style: normal;

}
